In [1]:
import pandas as pd
import numpy as np 
from faker import Faker
import random

# Data Aggregation

In [24]:
df1 = pd.read_csv('/Users/hp/Downloads/Swiggy_rest_food.csv')   
df1.columns

C:\Users\hp\AppData\Local\Temp\ipykernel_21068\4018444483.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/Users/hp/Downloads/Swiggy_rest_food.csv')

Index(['restaurant code', 'cuisine', 'item', 'price', 'veg_or_non_veg'], dtype='object')

In [21]:
df2 = pd.read_csv('/Users/hp/Downloads/swiggy.csv')  
df2.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [7]:
df3 = pd.read_csv('/Users/hp/Downloads/onlinedeliverydata.csv')

In [192]:
df5 = pd.read_csv('/Users/hp/Downloads/transactions.csv')

## Users table

In [190]:
# Generate data

fake = Faker()
data = {
    'user_id': [i for i in range(1,100001)],
    'name': [fake.name() for _ in range(100000)],
    'email': [fake.email() for _ in range(100000)],
    'password': [fake.password() for _ in range(100000)],
}

df = pd.DataFrame(data) 

for i in range(2703):     
    df4 = pd.concat([x,df3],ignore_index=True) 
    x=df4

r = df4[['Age','Gender','Marital Status','Occupation','Monthly Income','Educational Qualifications','Family size']].head(100000) 
users = pd.concat([df,r],axis=1)  
users.shape

(100000, 11)

In [193]:
users.to_csv('users.csv')

## restaurant table

In [74]:
#restaurant :  r_id  r_name  cuisine   rating
restaurent = df2 
restaurent.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [194]:
restaurent.to_csv('restaurant.csv')

## menu

In [156]:
# menu:  menu_id  r_id     f_id  price
menu = df1[['restaurant code','item', 'cuisine', 'price'] ].reset_index() 
menu.rename(columns={'index':'menu_id','restaurant code':'r_id'}, inplace=True) 
menu['menu_id'] = menu['menu_id'].apply(lambda x: f"mn{x}") 
menu

,menu_id,r_id,item,cuisine,price
0,mn0,567335,Aloo Tikki Burger,"Beverages,Pizzas",40.0
1,mn1,567335,Veg Creamy Burger,"Beverages,Pizzas",50.0
2,mn2,567335,Cheese Burst Burger,"Beverages,Pizzas",65.0
3,mn3,567335,Paneer Creamy Burger,"Beverages,Pizzas",80.0
4,mn4,567335,Maxican Burger,"Beverages,Pizzas",80.0
...,...,...,...,...,...
1048570,mn1048570,96525,Mango Tango Sundae,"Ice Cream,Desserts",159.0
1048571,mn1048571,96525,Mocha Fudge (double),"Ice Cream,Desserts",169.0
1048572,mn1048572,96525,Mocha Fudge (single),"Ice Cream,Desserts",119.0
1048573,mn1048573,96525,DBC Death By Chocolate (regular),"Ice Cream,Desserts",219.0
1048574,mn1048574,96525,Fudge Atomic Sundae,"Ice Cream,Desserts",179.0

In [160]:
menu = menu.merge(food, how='inner',on='item')[['menu_id','r_id','f_id', 'cuisine', 'price']]

In [195]:
menu.to_csv('menu.csv')

## food table

In [157]:
# food:    f_id, food_name, type

food = df1[['item','veg_or_non_veg']] 
food.drop_duplicates(inplace=True)
food.reset_index(inplace=True) 
food.rename(columns={'index':'f_id'}, inplace=True) 
food['f_id'] = food['f_id'].apply(lambda x: f"fd{x}") 
food

C:\Users\hp\AppData\Local\Temp\ipykernel_21068\714215332.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food.drop_duplicates(inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_21068\714215332.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food.rename(columns={'index':'f_id'}, inplace=True)
C:\Users\hp\AppData\Local\Temp\ipykernel_21068\714215332.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food['f_id'] = food['f_id'].apply(lambda x: f"fd{x}")

             f_id                    item veg_or_non_veg
0             fd0       Aloo Tikki Burger            Veg
1             fd1       Veg Creamy Burger            Veg
2             fd2     Cheese Burst Burger            Veg
3             fd3    Paneer Creamy Burger            Veg
4             fd4          Maxican Burger            Veg
...           ...                     ...            ...
371556  fd1048555    Sizzlers De- Verdure            Veg
371557  fd1048556         Veg Bbq Sizzler            Veg
371558  fd1048558    Veg Sizzling Italian            Veg
371559  fd1048561  Veg Overload  Sandwich            Veg
371560  fd1048562    Aglio Riso Rice Bowl            Veg

[371561 rows x 3 columns]

In [196]:
food.to_csv('food.csv')

## orders table

In [187]:
# orders :   order_id  user_id    r_id      amount   date 
orders = df5[['order_date','sales_qty','sales_amount','currency']]
orders['user_id'] = np.random.randint(1,100000,150281) 
orders['r_id'] = pd.concat([restaurent,restaurent[56:179]],ignore_index=True)['id']   
orders

C:\Users\hp\AppData\Local\Temp\ipykernel_21068\3822434753.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders['user_id'] = np.random.randint(1,100000,150281)
C:\Users\hp\AppData\Local\Temp\ipykernel_21068\3822434753.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders['r_id'] = pd.concat([restaurent,restaurent[56:179]],ignore_index=True)['id']

        order_date  sales_qty  sales_amount currency  user_id      r_id
0       2017-10-10        100         41241      INR    49226  567335.0
1       2018-05-08          3            -1      INR    77359  531342.0
2       2018-04-06          1           875      INR     5321  158203.0
3       2018-04-11          1           583      INR    21343  187912.0
4       2018-06-18          6          7176      INR    75378  543530.0
...            ...        ...           ...      ...      ...       ...
150276  2019-04-18          1           394    INR\r    79856       NaN
150277  2019-04-23          1           667    INR\r    65798       NaN
150278  2019-04-23          1           625    INR\r    49176       NaN
150279  2019-04-24          7          8625    INR\r    87924       NaN
150280  2019-04-24          3          3792    INR\r    41474       NaN

[150281 rows x 6 columns]

In [197]:
orders.to_csv('orders.csv')